:root {
    --primary-color: #b40819;
    --secondary-color: #1E1E1E;
    --text-color: white;
    --price-color: #610f17;
    --price-bg: #676767;
    --border-radius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #121212;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 1000;
}

.logo {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-left {
    display: flex;
    gap: 15px;
}

.icon-img {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon-img:hover {
    transform: scale(1.1);
}


main {
    padding-top: 82px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.products {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-top: 45vw;
    position: relative;
    z-index: 20;
}

.banner__img {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.product {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    width: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product-botton-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.product-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.price {
    color: var(--price-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    background-color: var(--price-bg);
    padding: 5px 15px;
    border-radius: 10px;
}

footer {
    position: relative;
    z-index: 20;
    text-align: center;
    padding: 15px;
    background-color: var(--secondary-color);
    border-top: 2px solid var(--primary-color);
}
