* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.contenedor {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #666;
    gap: 10px;
    border: 5px solid #333;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5a7a7;
    color: white;
    width: 100%;
    height: 100%; 
}
.item-5{
    order: -1;
}

@media (min-width: 640px) {
    .contenedor{
        flex-direction: row;
        justify-content: center;
    }
    .items {
        height: 150px;
    }
    .item-4{
        display: none;
    }
    .item-5{
        order: 5;
    }
    .item-2 { 
        align-self: flex-end; 
    }
    .item-5{
        align-self: flex-end;
    }
}

@media (min-width: 840px) {
    .item-5{
        align-self: center;
        flex-grow: 5;
    }
    .item-4{
        display: flex;
        order: -1;
        flex-grow: 4;
    }
    .item-3{
        flex-grow: 3;
    }
    .item-2 { 
        align-self: auto; 
        flex-grow: 2;
    }
    .item-1{
        flex-grow: 1;
    }

    .items {
        flex-basis: 50px; 
        height: 100px;
    }
}
