:root {
    --primary-color: #960917;
    --secondary-color: #050505;
    --text-color: white;
    --price-color: #610f17;
    --price-bg: #676767;
    --border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 6dvh;
    min-height: 90dvh;
    background-color: var(--secondary-color);
}
.box{
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
}


footer {
    text-align: center;
    padding: 15px;
    background-color: var(--secondary-color);
    border-top: 2px solid var(--primary-color);
    position: relative;
    z-index: 2;
    height: 10dvh;
    display: flex;
}

