@import "partials/menu";
@import "partials/galeria-simple";
@import "partials/gatosIMG";

body {
    color: darkblue;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 2rem;
  }



  
